/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.cmd

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### unse profile
mvnw*
myblog.iml
/.vmn

*.md linguist-language=Java 
*.yml linguist-language=Java 
*.html linguist-language=Java 
*.js linguist-language=Java 
*.xml linguist-language=Java
*.css linguist-language=Java 
*.sql linguist-language=Java
*.uml linguist-language=Java 
*.cmd linguist-language=Java
*.sql linguist-language=Java
