#配置不提交的文件类型
*.class
#package file
*.war
*.ear


#kidff3 ignore
*.orig

#maven ignore
target/

#eclipse ignore
.settings/
.project
.classpath
#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db
