<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mycookies.dao.CommentDOMapper">
    <insert id="insertUser">
        insert into user(email,user_name,create_time)
        values (#{email},#{userName},now())
    </insert>
    <update id="updateComment" parameterType="cn.mycookies.pojo.po.CommentDO">
        UPDATE blog_comment
        SET
        <trim suffixOverrides=",">
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="commentStatus != null">
                id_deleted = #{commentStatus,jdbcType=INTEGER},
            </if>
        </trim>
        where id=#{targetId,jdbcType=INTEGER}
    </update>
    <update id="likeComment" parameterType="cn.mycookies.pojo.po.CommentDO">
        UPDATE blog_comment
        SET like_count = like_count+1
        where id=#{targetId,jdbcType=INTEGER}
    </update>
    <delete id="deleteComment" parameterType="int">
      DELETE
      FROM blog_comment
      where id=#{id,jdbcType=INTEGER}
  </delete>
    <select id="selectCommentById" resultType="cn.mycookies.pojo.po.CommentDO">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM blog_comment
        WHERE comment_status =0 AND id=#{id,jdbcType=INTEGER}
    </select>
    <!--查询评论 并关联用户信息-->
    <select id="selectComments" parameterType="cn.mycookies.pojo.po.CommentDO" resultType="cn.mycookies.pojo.vo.CommentVO">
        SELECT
            t.id,
            t.target_id as targetId,
            t.email,
            u1.user_name as userName,
            u2.user_name as replyUserName,
            t.reply_email as replyEmail,
            t.content,
            t.like_count as likeCount,
            t.create_time as createTime,
            t.comment_status as commentStatus,
            t.session_id as sessionId
        from blog_comment t
        LEFT JOIN user u1 ON t.email = u1.email
        LEFT JOIN user u2 ON t.reply_email = u2.email
        <where>
            <if test="targetId != null">
               and t.target_id = #{targetId}
            </if>
            <if test="sessionId != null">
               and  t.session_id = #{sessionId}
            </if>
            <if test="email != null">
                and t.email = #{email}
            </if>
            <if test="replyEmail !=null">
                and t.reply_email = #{replyEmail}
            </if>
            <if test="commentStatus !=null">
                and t.comment_status = #{commentStatus}
            </if>
        </where>
     </select>
    <select id="getUserByEmail" parameterType="String" resultType="cn.mycookies.pojo.dto.UserDTO">
        select id ,email,user_name from user where email = #{email}
    </select>
</mapper>