<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mycookies.dao.TagMapper">

  <select id="queryByName" parameterType="cn.mycookies.pojo.dto.TagAddRequest" resultType="cn.mycookies.pojo.po.TagDO">
    select
    <include refid="Base_Column_List"/>
    <where>
    <if test="tagType != null">
      tag_type = #{tagType}
    </if>
    <if test="tagName != null">
      and tag_name= #{tagName}
    </if>
    </where>
  </select>
  <select id="queryById" parameterType="cn.mycookies.pojo.po.TagDO" resultType="cn.mycookies.pojo.po.TagDO">
    SELECT
    <include refid="Base_Column_List"/>
    <where>
      <if test="tagType != null">
        tag_type = #{tagType}
      </if>
      <if test="id != null">
        and id= #{id}
      </if>
    </where>
  </select>
  <select id="selectTagList" resultType="cn.mycookies.pojo.dto.TagWithCountVO">
      SELECT
        COUNT(t.blog_id) as   blogCount, t.tag_id as id, t2.tag_name as tagName
    FROM
        blog_tags t
            LEFT JOIN
        blog_tag t2 ON t.tag_id = t2.id
  </select>
  <select id="selectTagsOfBlog" resultType="cn.mycookies.pojo.po.TagDO">
    SELECT blog_tag.tag_name as tagName ,blog_tag.id
    FROM blog_tags
    LEFT JOIN blog_tag on blog_tag.id = blog_tags.tag_id
    where blog_id = #{blogId}
  </select>
  <select id="selectCategoryList" resultType="cn.mycookies.pojo.dto.TagWithCountVO">
    SELECT
      COUNT(t.category_id)  as blogCount, t.category_id as id, t2.tag_name as tagName
    FROM
      blog t
      LEFT JOIN
      blog_tag t2 ON t.category_id = t2.id
    GROUP BY t.category_id;
  </select>
  <update id="updateTag" parameterType="cn.mycookies.pojo.po.TagDO">
      UPDATE blog_tag
    <set>
       <if test="tagName != null">
      tag_name=#{tagName,jdbcType=VARCHAR},
    </if>
      <if test="tagDesc != null">
        tag_desc=#{tagDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteById" parameterType="int">
    DELETE 
    FROM blog_tag
    WHERE id=#{id,jdbcType=INTEGER} 
  </delete>
</mapper>