<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mycookies.dao.BlogMapper">
  <resultMap id="BaseResultMap" type="cn.mycookies.pojo.po.Blog">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="category_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="summary" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="author" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="tags" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="code" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="img_url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="view_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="like_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="share_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="comment_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.mycookies.pojo.po.Blog">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="category_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="summary" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="author" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="tags" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="code" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="img_url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="view_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="like_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="share_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="comment_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="content" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Blob_Column_List">
    content
  </sql>
  <insert id="insert" parameterType="cn.mycookies.pojo.po.Blog">
    insert into blog (id, category_id, title, 
      summary, author, tags, 
      code, img_url, view_count, 
      like_count, share_count, comment_count, 
      status, create_time, update_time, 
      content)
    values (#{id,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{summary,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, 
      #{code,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}, #{viewCount,jdbcType=INTEGER}, 
      #{likeCount,jdbcType=INTEGER}, #{shareCount,jdbcType=INTEGER}, #{commentCount,jdbcType=INTEGER}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.mycookies.pojo.dto.BlogDTO">
    insert into blog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
         create_time,
       <if test="content != null">
        content,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
         now(),
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
    </trim>
  </insert>

  <update id="updateBlog" parameterType="cn.mycookies.pojo.dto.BlogDTO">
    update blog
    <set>
      <if test="categoryId != null">
        category_id=#{categoryId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title=#{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary=#{summary,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author=#{author,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code=#{code,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null">
        img_url=#{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content=#{content},
      </if>
      <if test="isDeleted != null">
        is_deleted=#{isDeleted}
      </if>
    </set>
      where id=#{id}
  </update>
  <update id="updateBlogCount">
    update blog
    <set>
        <if test="type=='like'">
          like_count = like_count+1
        </if>
        <if test="type=='comment'">
          comment_count = comment_count+1
        </if>
        <if test="type=='view'">
          view_count = view_count+1
        </if>
    </set>
    where id = #{blogId}
  </update>
  <select id="selectBlogs" resultType="cn.mycookies.pojo.po.Blog">
    SELECT
    id,title,
    img_url as imgUrl,
    summary,content,
    code,create_time as createTime,update_time updateTime,
    like_count as likeCount,view_count as viewCount,is_deleted isDeleted
    from blog
    <where>
      <if test="tagId != null">
        tag_id=#{tagId}
      </if>
      <if test="tagId != null">
        and category_id=#{categoryId}
      </if>
      <if test="isDeleted != null">
        and is_deleted=#{isDeleted}
      </if>
    </where>
  </select>
  <select id="selectById" resultType="cn.mycookies.pojo.po.Blog">
    SELECT
    id,title,
    img_url as imgUrl,
    summary,content,
    code,create_time as createTime,
    like_count as likeCount,view_count as viewCount,is_deleted isDeleted
    from blog
    <where>
      <if test="id != null">
        id=#{id}
      </if>
      <if test="isDeleted != null">
        and is_deleted=#{isDeleted}
      </if>
    </where>
  </select>
  <select id="selectLastOrNext" resultType="cn.mycookies.pojo.po.Blog">
    SELECT
    id,title,
    img_url as imgUrl,
    summary,content,
    code,create_time as createTime,
    like_count as likeCount,view_count as viewCount,is_deleted isDeleted
    from blog
    <where>
       is_deleted=0
      <if test="id != null and page == 1">
        and id &gt; #{id} order by id asc
      </if>
      <if test="id != null and page == -1" >
       and id &lt; #{id} order by id desc
      </if>
    </where>
    LIMIT 1
  </select>
  <select id="selectHotOrRecommendBlogs" resultType="cn.mycookies.pojo.vo.BlogVO">
    SELECT
      id,title,
      img_url as imgUrl,
      summary,content,
      code,create_time as createTime,update_time updateTime,
      like_count as likeCount,view_count as viewCount,is_deleted isDeleted
    from blog
    <where>
      is_deleted=0
      <if test="code == 2">
        and code= #{code}
      </if>

    </where>
      limit #{limit}

  </select>
</mapper>