<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.pojo.dao.TagMapper" >
  <resultMap id="BaseResultMap" type="cn.blog.pojo.Tag" >
    <constructor >
      <idArg column="tagId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="tagName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    tagId, tagName, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tag
    where tagId = #{tagid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tag
    where tagId = #{tagid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.blog.pojo.Tag" >
    insert into tag (tagId, tagName, createTime, 
      updateTime)
    values (#{tagid,jdbcType=INTEGER}, #{tagname,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.blog.pojo.Tag" >
    insert into tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tagid != null" >
        tagId,
      </if>
      <if test="tagname != null" >
        tagName,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tagid != null" >
        #{tagid,jdbcType=INTEGER},
      </if>
      <if test="tagname != null" >
        #{tagname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.blog.pojo.Tag" >
    update tag
    <set >
      <if test="tagname != null" >
        tagName = #{tagname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where tagId = #{tagid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.blog.pojo.Tag" >
    update tag
    set tagName = #{tagname,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where tagId = #{tagid,jdbcType=INTEGER}
  </update>
</mapper>