<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.blog.dao.TagMapper" >
  <resultMap id="BaseResultMap" type="cn.blog.pojo.Tag" >
    <constructor >
      <idArg column="tagId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="tagName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    tagId, tagName, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tag
    where tagId = #{tagId,jdbcType=INTEGER}
  </select>


  <select id="findALl" resultType="cn.blog.pojo.Tag">
    SELECT
    <include refid="Base_Column_List"/>
    from tag
  </select>
  <select id="findAllSimple" resultType="cn.blog.vo.TagVo">
    SELECT tagId,tagName
    from tag
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tag
    where tagId = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.blog.pojo.Tag" >
    insert into tag (tagId, tagName, createTime, 
      updateTime)
    values (#{tagId,jdbcType=INTEGER}, #{tagName,jdbcType=VARCHAR}, now(),
    now())
  </insert>
  <insert id="insertSelective" parameterType="cn.blog.pojo.Tag" >
    insert into tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        tagId,
      </if>
      <if test="tagName != null" >
        tagName,
      </if>
      <!--<if test="createTime != null" >-->
        <!--createTime,-->
      <!--</if>-->
      <!--<if test="updateTime != null" >-->
        <!--updateTime,-->
      <!--</if>-->
    createTime,
    updateTime,
    </trim>

    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="tagName != null" >
        #{tagName,jdbcType=VARCHAR},
      </if>
      <!--<if test="createTime != null" >-->
        <!--#{createTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="updateTime != null" >-->
        <!--#{updateTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      now(),
      now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.blog.pojo.Tag" >
    update tag
    <set >
      <if test="tagName != null" >
        tagName = #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <!--<if test="updateTime != null" >-->
        <!--updateTime = #{updateTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      updateTime=now(),
    </set>
    where tagId = #{tagId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.blog.pojo.Tag" >
    update tag
    set tagName = #{tagName,jdbcType=VARCHAR},
      updateTime = now()
    where tagId = #{tagId,jdbcType=INTEGER}
  </update>
</mapper>