<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mycookies.dao.TagMapper">
  <resultMap id="BaseResultMap" type="cn.mycookies.pojo.po.Tag">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tag_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="tag_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="cn.mycookies.pojo.dto.TagAdd">
    insert into tag (tag_name, tag_desc, create_time)
    values (#{tagName,jdbcType=VARCHAR}, #{tagDesc,jdbcType=VARCHAR}, now())
  </insert>
  <insert id="insertSelective" parameterType="cn.mycookies.pojo.po.Tag">
    insert into tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tagName != null">
        tag_name,
      </if>
      <if test="tagDesc != null">
        tag_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tagName != null">
        #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="tagDesc != null">
        #{tagDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="queryTagList" parameterType="cn.mycookies.pojo.po.Tag"  resultMap="BaseResultMap">
    SELECT * from tag
    <where>
      <if test="type != null">
        type = #{type}
      </if>
    </where>
  </select>

  <select id="queryByName" parameterType="cn.mycookies.pojo.dto.TagAdd" resultType="cn.mycookies.pojo.po.Tag">
    SELECT id,tag_name as tagName, tag_desc as tagDesc,create_time as createTime,update_time as updateTime
    FROM tag
    <where>
    <if test="type != null">
      type = #{type}
    </if>
    <if test="tagName != null">
      tag_name= #{tagName}
    </if>
    </where>
  </select>
  <select id="queryById" parameterType="cn.mycookies.pojo.po.Tag" resultType="cn.mycookies.pojo.po.Tag">
    SELECT id,tag_name as tagName, tag_desc as tagDesc,create_time as createTime,update_time as updateTime
    FROM tag
    <where>
      <if test="type != null">
        type = #{type}
      </if>
      <if test="id != null">
        id= #{id}
      </if>
    </where>
  </select>
  <select id="queryTagBoList" resultType="cn.mycookies.pojo.vo.TagVO">
      SELECT
        COUNT(t.blog_id) count, t.tag_id, t2.tag_name
    FROM
        blog_tags t
            LEFT JOIN
        tag t2 ON t.tag_id = t2.id AND t2.type = 1
    GROUP BY t.tag_id;
  </select>
  <select id="queryTagVOList" resultType="cn.mycookies.pojo.vo.TagVO">
   SELECT
        COUNT(t.category_id) count, t.category_id, t2.tag_name
    FROM
        blog t

            LEFT JOIN
        tag t2 ON t.category_id = t2.id AND t2.type = 1
    GROUP BY t.category_id;
  </select>

  <update id="updateTag" parameterType="cn.mycookies.pojo.po.Tag">
      UPDATE tag
    <set>
       <if test="tagName != null">
      tag_name=#{tagName,jdbcType=VARCHAR},
    </if>
      <if test="tagDesc != null">
        tag_desc=#{tagDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time=#{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time=#{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteById" parameterType="int">
    DELETE 
    FROM tag
    WHERE id=#{id,jdbcType=INTEGER} 
  </delete>
</mapper>