<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.blog.dao.VisitorMapper" >
  <resultMap id="BaseResultMap" type="cn.blog.pojo.Visitor" >
    <constructor >
      <idArg column="visitorId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ipAddr" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    visitorId, INET_NTOA(ipAddr), createTime, updateTime
  </sql>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from visitor
    where visitorId = #{visitorid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from visitor
    where visitorId = #{visitorid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.blog.pojo.Visitor" >
    insert into visitor (visitorId, ipAddr, createTime, 
      updateTime)
    values (#{visitorid,jdbcType=INTEGER}, INET_ATON(#{ipaddr}), #{createtime,jdbcType=TIMESTAMP},
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.blog.pojo.Visitor" >
    insert into visitor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="visitorid != null" >
        visitorId,
      </if>
      <if test="ipaddr != null" >
        INET_ATON(ipAddr),
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="visitorid != null" >
        #{visitorid,jdbcType=INTEGER},
      </if>
      <if test="ipaddr != null" >
        #{ipaddr},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.blog.pojo.Visitor" >
    update visitor
    <set >
      <if test="ipaddr != null" >
        ipAddr = #{ipaddr},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where visitorId = #{visitorid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.blog.pojo.Visitor" >
    update visitor
    set ipAddr = INET_ATON(#{ipaddr}),
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where visitorId = #{visitorid,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" parameterType="list" >
      insert into visitor(ipAddr, createTime, updateTime)
      values
    <!-- open="(" close=")"-->
    <foreach collection="visitors" separator="," item="item" index="index">
      (INET_ATON(#{item.ipaddr}) ,#{item.createtime},#{item.updatetime})
    </foreach>

  </insert>
</mapper>