<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoding>UTF-8</encoding>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!--日志地址-->
    <appender name="blog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>D:/develop/logs/blog.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>D:/develop/logs/blog.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <append>true</append>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
    </appender>


    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>d:/develop/logs/blog.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>D:/develop/logs/blog.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <append>true</append>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="cn.blog" additivity="false" level="INFO" >
        <appender-ref ref="blog" />
        <appender-ref ref="console"/>
    </logger>


    <!--  mybatis log 日志  可以通过日志查看sql语句 -->

    <logger name="cn.blog.dao" level="DEBUG"/>
    <logger name="cn.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" >
        <appender-ref ref="console"/>
    </logger>

    <logger name="java.sql.Connection" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>
    <logger name="java.sql.Statement" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>
    <logger name="java.sql.PreparedStatement" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="error"/>
    </root>

</configuration>